@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var route = ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en-US"
      itemscope
      itemtype="http://schema.org/Article"
      prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/" />
    <title>Test Andrea</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">




    <link rel="canonical" href="index.html" />

    <link rel="stylesheet" id="parent-style-css" href="resources/wp-content/themes/Divi/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="divi-style-css" href="resources/wp-content/themes/Picturepark-Divi/style.css" type="text/css" media="all" />

    <!--<link rel="stylesheet" id="font-awesome-css" href="resources/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" media="all" />-->
    <link href="~/resources/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link rel="https://api.w.org/" href="https://picturepark.com/wp-json/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://picturepark.com/xmlrpc.php?rsd" />
    <link rel="alternate" type="application/json+oembed" href="https://picturepark.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://picturepark.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;format=xml" />

    <script type="text/javascript" src="resources/menu/page.js" async="async"></script>

    <link rel="shortcut icon" href="resources/wp-content/uploads/2017/05/Picturepark.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">


    <!--Bootstrap files below this comment-->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@



    @*<script type="text/javascript">
            var cssTarget = "img.";
            var ppScript = { "pluginsUrl": "https:\/\/picturepark.com\/wp-content\/plugins" };
            var pictureparkUploadData = { "editorPluginFile": "https:\/\/picturepark.com\/wp-content\/plugins\/picturepark\/picturepark-media-upload.php" };
            var lazyload_video_settings = { "youtube": { "theme": "dark", "colour": "red", "showinfo": true, "relations": true, "buttonstyle": "youtube_button_image", "controls": true, "loadpolicy": true, "responsive": true, "thumbnailquality": "0", "preroll": "", "postroll": "", "displaybranding": false, "callback": "<!--YOUTUBE_CALLBACK-->" }, "vimeo": { "buttonstyle": "youtube_button_image", "playercolour": "#00adef", "responsive": true, "preroll": "", "postroll": "", "show_title": false, "displaybranding": false, "callback": "<!--VIMEO_CALLBACK-->" } };
            var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
            var et_pb_custom = { "ajaxurl": "https:\/\/picturepark.com\/wp-admin\/admin-ajax.php", "images_uri": "https:\/\/picturepark.com\/wp-content\/themes\/Divi\/images", "builder_images_uri": "https:\/\/picturepark.com\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "3b4b7937f3", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "4906e1fd9c", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "5421", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
            var icl_vars = { "current_language": "en", "icl_home": "https:\/\/picturepark.com\/", "ajax_url": "https:\/\/picturepark.com\/wp-admin\/admin-ajax.php", "url_type": "1" };
            var soliloquy_ajax = { "ajax": "https:\/\/picturepark.com\/wp-admin\/admin-ajax.php", "ajax_nonce": "e1020862fe" };
        </script>*@


    <link href="~/resources/styles/defaultStyles.css" rel="stylesheet" />
    <link href="~/resources/styles/customStyles.css" rel="stylesheet" />
</head>
<body class="page-template page-template-page-headerless page-template-page-headerless-php page page-parent archive category category-content-management-blog en et_button_no_icon et_pb_button_helper_class et_transparent_nav et_fullwidth_nav et_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns1 et_header_style_left et_pb_svg_logo et_pb_pagebuilder_layout et_right_sidebar et_divi_theme unknown">
    
    <div id="page-container">
        <header id="main-header" data-height-onload="120">
            <div class="container clearfix et_menu_container">
                <div class="logo_container">
                    <span class="logo_helper"></span>
                    <a href="https://picturepark.com/">
                        <div id="logo" class="style-svg"></div>
                        @*<img src="~/resources/Media/Images/Logo-FOFA.png" alt="Fine Organic Foods Association" class="style-svg" />*@
                    </a>
                </div>

                <div id="et-top-navigation" data-height="120" data-fixed-height="36">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav et_disable_top_tier">   
                            <li class="menu-item menu-item-type-post_type menu-item-object-page page_item @(route == "Home" ? "current_page_item": "") "><a asp-controller="Home" asp-action="Overview">News</a></li>
                            @if (User.Identity.IsAuthenticated)    /*check login function*/
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page @(route == "Account" ? "current_page_item": "")"><a asp-controller="Account" asp-action="Info">@User.Identity.Name</a></li>
                            }
                            else
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-controller="Account" asp-action="Login">Login</a></li>
                            }

                        <!-- Language selection -->
                            <li id="menu-item-wpml-ls-364-en"
                                class="menu-item-language @(requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName == "en" ? "menu-item-language-current wpml-ls-current-language" : "") menu-item wpml-ls-slot-364 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-first-item menu-item-wpml-ls-364-en">
                                <a title="En" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="en"><span class="wpml-ls-native">En</span></a>
                            </li>
                            <li id="menu-item-wpml-ls-364-de"
                                class="menu-item-language @(requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName == "de" ? "menu-item-language-current wpml-ls-current-language" : "") menu-item wpml-ls-slot-364 wpml-ls-item wpml-ls-item-de wpml-ls-menu-item wpml-ls-last-item menu-item-wpml-ls-364-de">
                                <a title="De" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="de"><span class="wpml-ls-native">De</span></a>
                            </li>
                        </ul>
                    </nav>

                <!--search icon, has no function whatsoever currently-->
                    <div id="et_top_search">
                        <span id="et_search_icon"></span>
                    </div>

                <!--mobile nav, has no function whatsoever currently-->
                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        </div>
                    </div>
                </div> <!-- #et-top-navigation -->


            </div> <!-- .container -->

        <!--don't know yet what this is. is this the search function?-->
            <div class="et_search_outer">
                <div class="container et_search_form_container">
                    <form role="search" method="get" class="et-search-form" asp-controller="Search" asp-action="Index">
                        <input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="search" title="Search for:" />
                    </form>
                    <span class="et_close_search_field"></span>
                </div>
            </div>
        </header> <!-- #main-header -->


        <div id="et-main-area">
            <div id="main-content">
                <article class="page type-page status-publish has-post-thumbnail hentry">
                    <div class="entry-content"> <!-- entry content includes the header and welcome text and image -->


                    <!--INTRO TEXT-->
                        <div class="et_pb_section L1header et_pb_section_0 et_pb_with_background et_section_regular">
                            <div class=" et_pb_row et_pb_row_0 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_2_3  et_pb_column_0">
                                    <div class="et_pb_module et_pb_post_title   et_pb_post_title_0 et_pb_bg_layout_light">
                                        <div class="et_pb_title_container">
                                            <h1 class="entry-title">You are watching a sample demo of a Press Kits microsite of <br /> the Picturepark Content Platform.</h1>
                                        </div>
                                    </div>
                                    <div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left L1tag et_pb_text_0">
                                        <div class="et_pb_text_inner">
                                            <p>Other samples are available - <a target="_blank" href="https://picturepark.com/">please click here.</a></p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->

                                <div class="et_pb_column et_pb_column_1_3  et_pb_column_1">
                                    <div class="et_pb_module et_pb_space et_pb_divider_hidden et_pb_divider_0 et-hide-mobile">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div> <!-- .et_pb_column -->
                            </div> <!-- .et_pb_row -->


                            <div class="photo-credit et_pb_row et_pb_row_1">
                                <div class="et_pb_column et_pb_column_4_4  et_pb_column_2">
                                    <div class="et_pb_code et_pb_module  et_pb_code_0">
                                        <a href="http://unsplash.com/@@r2d2?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Photo courtesy of Unsplash Photographer Romain Dupraz" class="creditLink"><span class="creditName">Romain Dupraz</span></a>
                                    </div> <!-- .et_pb_code -->
                                </div> <!-- .et_pb_column -->
                            </div> <!-- .et_pb_row -->

                        </div> <!-- .et_pb_section -->


                        <div class="et_pb_section blurbsIcon et_pb_section_1 et_section_regular">
                            @RenderBody()
                        </div> <!-- .et_pb_section -->


                    </div> <!-- .entry-content -->

                </article> <!-- .et_pb_post -->

            </div> <!-- #main-content -->

            <SPAN CLASS="et_pb_scroll_top et-pb-icon"></SPAN>

            <FOOTER ID="main-footer">
                <div class="et_pb_section siteFooter et_pb_section_11 et_pb_with_background et_section_regular">
                    <div class=" et_pb_row et_pb_row_12">
                        <div class="et_pb_column et_pb_column_1_4  et_pb_column_23">
                            <div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_0 et_always_center_on_mobile">
                                <img src="https://picturepark-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/Picturepark-Logo-white.svg" alt="" />

                            </div>
                        </div> <!-- .et_pb_column -->
                        <div class="et_pb_column et_pb_column_3_4  et_pb_column_24">
                            <div class="et_pb_code et_pb_module  et_pb_code_7">
                                <div id="et-info"><a href="mailto:info@picturepark.com"><span id="et-info-email"> info@picturepark.com </span></a></div><ul class="et-social-icons">
                                    <li class="et-social-icon et-social-twitter">
                                        <a href="https://www.twitter.com/Picturepark" class="icon" target="_blank">
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li class="et-social-icon et-social-facebook">
                                        <a href="https://www.facebook.com/Picturepark" class="icon" target="_blank">
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li class="et-social-icon et-social-linkedin">
                                        <a href="http://www.linkedin.com/company/picturepark-digital-asset-management" class="icon" target="_blank">
                                            <span>LinkedIn</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- .et_pb_code -->
                        </div> <!-- .et_pb_column -->
                    </div> <!-- .et_pb_row -->

                </div> <!-- .et_pb_section -->
                <DIV ID="et-footer-nav">
                    <DIV CLASS="container">
                        <ul id="menu-footer-menu" class="bottom-nav">
                            <li id="menu-item-8647" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8647"><a href="https://picturepark.com/company/picturepark-customer-support/">Support</a></li>
                            <li id="menu-item-6731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6731"><a href="https://picturepark.com/software/">Software</a></li>
                            <li id="menu-item-6723" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6723"><a href="https://picturepark.com/digital-asset-management-case-study/">Case Studies</a></li>
                        </ul>
                    </DIV>
                </DIV> <!-- #et-footer-nav -->

                <DIV ID="footer-bottom">
                    <DIV CLASS="container clearfix">
                        &copy; 2017 Vision Information Transaction AG
                        <span>|</span>
                        <a href="https://picturepark.com/company/about-picturepark/picturepark-agreements-privacy/">Privacy</a>
                    </DIV>	<!-- .container -->
                </DIV>
            </FOOTER> <!-- #main-footer -->
        </div> <!-- #et-main-area -->

    </div> <!-- #page-container -->
    <div class="a2a_kit a2a_kit_size_48 a2a_floating_style a2a_vertical_style" style="left:0px;top:420px;"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;linkname=Content%20Management%20Solutions" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;linkname=Content%20Management%20Solutions" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_google_plus" href="https://www.addtoany.com/add_to/google_plus?linkurl=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;linkname=Content%20Management%20Solutions" title="Google+" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_linkedin" href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;linkname=Content%20Management%20Solutions" title="LinkedIn" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_xing" href="https://www.addtoany.com/add_to/xing?linkurl=https%3A%2F%2Fpicturepark.com%2Fsolutions%2F&amp;linkname=Content%20Management%20Solutions" title="XING" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save" href="https://www.addtoany.com/share"></a></div><link rel="stylesheet" id="soliloquy-style-css-css" href="resources/wp-content/plugins/soliloquy/assets/css/soliloquy.css" type="text/css" media="all" />

</body>
</html>
